<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.qzk.mapper.UserMapper">
    
    <!-- 若不需要自动返回主键，将useGeneratedKeys="true" keyProperty="id"去掉即可(当然如果不需要自动返回主键，直接用注解即可) -->
    <insert id="insertUserWithBackId" parameterType="com.qzk.model.User" useGeneratedKeys="true" keyProperty="id" >
       <![CDATA[
       INSERT INTO `itqzk`.`u_user` (
			`u_name`,
			`u_account`,
			`u_password`,
			`u_email`,
			`u_phone`,
			`u_ip`,
			`u_authorize`
		)
		VALUES
			(
				#{userName, jdbcType=VARCHAR},
				#{account, jdbcType=VARCHAR},
				#{passWord, jdbcType=VARCHAR},
				#{email, jdbcType=VARCHAR},
				#{phone, jdbcType=VARCHAR},
				#{ip, jdbcType=VARCHAR},
				#{authorize, jdbcType=VARCHAR}
			)
       ]]>
   </insert>
    
</mapper>